<%= render template: "shared/admins_header" %>
<div class="container">
	<div class="row center">
		<div class="col-md-6 col-md-offset-3">
			<%= link_to("Edit Admin", edit_admin_registration_path, class: "btn btn-default") %>
		</div>
	</div>
</div>
			