<%= render template: "shared/admins_header" %>
<div class="container">
	<div class="row center">
		<div class="col-md-6">
			<h3>Upload Your Video</h3>
			<div class="well center marginTopMin">
				<%= render template: "videos/new" %>
			</div>
		</div>
		<div class="col-md-6">
			<h3>Edit Your Video</h3>
			<% @videos.each do |video| %>
				<div class="col-md-3 mini_thumb_div">
					<%= video.link.html_safe %>
					<p><%= link_to("Edit", edit_video_path(video)) %></p>
				</div>
			<% end %>
		</div>
	</div>
</div>
			