<%= javascript_tag "
	function owlVideo(x, y) {
		x.owlCarousel(y);
	}
	function arrow(x,y,z) {
		$(x).click(function() {
			y.trigger('prev.owl.carousel');
		});
		$(z).click(function() {
			y.trigger('next.owl.carousel');
		});
	}
	function arrowHover(x, y) {
  		$(x).hover(function() {
	  		$('.left_arrow_' + y).fadeIn('slow');
	  		$('.right_arrow_' + y).fadeIn('slow');
	  	}, function() {
	  		$('.left_arrow_' + y).fadeOut('slow');
	  		$('.right_arrow_' + y).fadeOut('slow');
	  	});
  	}" %>
<div id="video">
	<div class="exo_container">
		<div class="container">
			<div class="row">
				<div class="col-md-12 center marginTopMin">
				<h1>Video</h1>
				<p class="lead">Feel free to have a look at my work</p>
				</div>
			</div>
			<div class="marginTopMin col-md-8 col-md-offset-2">
				<iframe class="big_video" src="https://player.vimeo.com/video/123171770?title=0&byline=0&portrait=0" width="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
		</div>
	</div>
	<% @video_cats.each do |cat| %>
		<%= render "videos/anchor", title: cat.name.delete(" "), var: cat.videos , big_title: cat.name  %>
	<% end %>
	<div class="marginTopMin"></div>
</div>
