<div class="centered-pills">
	<ul class="nav nav-pills">
	  <li role="presentation"><%= link_to("Website", root_path) %></li>
	  <li role="presentation"><%= link_to("Admin", admins_path) %></li>
	  <li role="presentation"><%= link_to("LogOut", destroy_admin_session_path, method: :delete) %></li>
	</ul>
</div>
<div class="marginTop"></div>