<div class="video_background" id="home">
	<iframe src="https://www.youtube.com/embed/VBnr0Yt4JSI?rel=0&controls=0&showinfo=0&autoplay=1&modestbranding=1&loop=1&playlist=VBnr0Yt4JSI" frameborder="0" volume="0" allowfullscreen></iframe>
	<div class="overlay">
		<ul>
			<li><%= link_to("Home", "#home") %></li>
			<li><%= link_to("Video", "#video") %></li>
			<li><%= link_to("Photo", "#photo") %></li>
			<li><%= link_to("Contact", "#contact") %></li>
		</ul>
		<div class="vara_logo_home">
			<div class="vara_logo_title center">
				<h1>VARA REESE</h1>
				<h2>Videographer & Editor</h2>
			</div>
		</div>
	</div>
</div>