<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<h2><small>{{video.name}}</small></h2>
		<img ng-src="{{video.thumb_link}}" class="edit-video-thumb">
		<hr>
		<br>
		<form novalidate role="form" ng-submit="updateVideo()">
		  <video-form value="video" videos-cat="videosCat"></video-form>
		  <div class="col-sm-12 marginTopMinMin">
		  	<button type="submit" class="btn btn-default">Save</button>
		  	<a href="" ng-click="videoEditCancel()" class="cancel_link">Cancel</a>
		  </div>
		</form>
	</div>
</div>