<div id="photo">
	<div class="fifty center marginTop200">
		<h1>Photo</h1>
		<p class="lead">Feel free to have a look at my work</p>
	</div>
	<div class="fifty">
		<%= image_tag("test.png", class:"vara_big_pic") %>
		<div class="marginTopMin"></div>
	</div>

	<%= render "photos/anchor", title: "head", var: @photos_head , big_title: "Headshots"  %>
	<%= render "photos/anchor", title: "event", var: @photos_event , big_title: "Events"  %>
	<%= render "photos/anchor", title: "recreation", var: @photos_recreation , big_title: "Recreation" %>
	<div class="marginTopMin"></div>
</div>
	