<div id="photo">
	<div class="fifty center marginTop200">
		<h1>Photo</h1>
		<p class="lead">Feel free to have a look at my work</p>
	</div>
	<div class="fifty">
		<%= image_tag("test.png", class:"vara_big_pic") %>
	</div>
	<div class="anchor_photo">
		<%= render_gallery_for @photos  %>
		<div class="left_arrow_pic_div_photo arrow_pic_div">
			<%= image_tag("left_arrow.png", class: "arrow_pic", id: "left_arrow_pic") %>
		</div>
		<div class="right_arrow_pic_div_photo arrow_pic_div">
			<%= image_tag("right_arrow.png", class: "arrow_pic", id: "right_arrow_pic") %>
		</div>
	</div>
	<div class="marginTopMin"></div>
</div>
