<%= javascript_tag "function owlPhoto(x) {
		x.owlCarousel({
			autoplay: 3000,
			items: 5,
			pagination: false,
			loop: true,
			autoplayHoverPause: true,
			responsive: {
				0: {
					items: 3
				},
				768: {
					items: 4
				},
				990: {
					items: 5
				}
			}
		});
	}" %>

<div id="photo">
	<div class="exo_container_photo">
		<div class="container testy fullHeight_photo">
			<div class="row">
				<div class="col-md-12 center marginTopMin">
					<h1>Photo</h1>
					<p class="lead">Feel free to have a look at my work</p>
				</div>
				<div class="marginTopMin col-md-8 col-md-offset-2">
					<%= image_tag("test.png", class:"vara_big_pic") %>
					<div class="marginTopMin"></div>
				</div>
			</div>
		</div>
	</div>

	<% @photo_cats.each do |cat| %>
		<%= render "photos/anchor", title: cat.name.delete(" "), var: cat.photos , big_title: cat.name  %>
	<% end %>
	<div class="marginTopMin"></div>
</div>
	