<%= javascript_tag "function owlPhoto(x) {
		x.owlCarousel({
			autoplay: 3000,
			items: 5,
			pagination: false,
			loop: true,
			autoplayHoverPause: true
		});
	}" %>

<div id="photo">
	<div class="fifty center marginTop200">
		<h1>Photo</h1>
		<p class="lead">Feel free to have a look at my work</p>
	</div>
	<div class="fifty">
		<%= image_tag("test.png", class:"vara_big_pic") %>
		<div class="marginTopMin"></div>
	</div>
	<% @photo_cats.each do |cat| %>
		<%= render "photos/anchor", title: cat.name.delete(" "), var: cat.photos , big_title: cat.name  %>
	<% end %>
	
	<div class="marginTopMin"></div>
</div>
	