<%= form_for(@photo, html: {multipart: true, class: "dropzone"}) do |f| %>
<div class="fallback">
	<div class="photo">
	    <div><%= f.label :photo %></div>
	    <div><%= f.file_field :photo, accept: "image/jpeg, image/gif, image/png", class: "custom-file-input" %></div>
	</div>
</div>
<% end %>
       