@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

/*-----------------    General    ------------------*/

body{
	background-color: #212121;
	color: #f5f5f5;
	font-family: "Josefin Sans";
}

form {
	color: #505050;
}

a {
	color: #f5f5f5;
}

a:hover {
	text-decoration: none;
	color: #505050;
}

.marginTop200 {
 	margin-top: 200px;
}

.marginTop {
	margin-top: 100px;
}

.marginTopMin {
	margin-top: 50px;
}

.center {
	text-align: center;
}

.flash {
	width: 40%;
	position: absolute;
	top: 10px;
	left: 5px;
}

.btn-default {
	background-color: #212121;
	color: #f5f5f5;
}

.btn-default:hover {
	background-color: #f5f5f5;
	color: #212121;
}

.titles_links {
	position: absolute;
	top:190px ;
	left: 20px ;
	white-space: nowrap;
}

.container {
	background-color: #212121;
}

.big_title {
	background: #321111;
	background: -webkit-linear-gradient(left top, #241e1e , #212121); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(left top, #241e1e, #212121); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(left top, #241e1e, #212121); /* For Firefox 3.6 to 15 */
	padding-top: 10px;
	padding-left: 10px;
	height: 50px;
	width: 50%;
}

.arrow_pic_div {
	display: none;
}

.arrow_pic_div:hover {
	background-color: rgba(250,250,250,0.5);
}

.arrow_pic {
	height: 100%;
}

.black {
	color: #212121;
}

/*-----------------    Nav    ------------------*/

#nav {
	display: none;
	z-index: 999;
}

.navbar {
	background-color: rgba(250,250,250,0.5);
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-default .navbar-nav > .active > a, 
 .navbar-default .navbar-nav > .active > a:hover, 
 .navbar-default .navbar-nav > .active > a:focus {
    color: #f5f5f5;
    background-color: #212121;
 }

 .small_mobile_logo {
 	width: 50px;
 	margin-left: 3%;
 	display: none;
 }

/*-----------------    Admin/General    ------------------*/

.nav-tabs > li > a:hover{
  	background-color: #212121 !important;
    color:#f5f5f5;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover{
    background-color: #212121 !important;
}

/*-----------------    Admin    ------------------*/

.centered-pills { text-align:center; }
.centered-pills ul.nav-pills { display:inline-block; }
.centered-pills li { display:inline; }
.centered-pills a { float:left; }
* html .centered-pills ul.nav-pills { display:inline; } /* IE6 */
*+html .centered-pills ul.nav-pills { display:inline; } /* IE7 */

.manage_icon {
	font-size: 10em;
}

.admin_header {
	position: fixed;
	width: 100%;
	height: 70px;
}

.admin_header_button {
	float: left;
}

/*-----------------    Admin/Video    ------------------*/

.mini_thumb_div iframe {
	width: 100px;
	height: 70px;
}

.inline {
	margin: 20px;
	display: inline;
}

/*-----------------    Admin/Photo    ------------------*/

.mini_thumb_div {
	margin-top: 20px;
}

.mini_thumb {
	width: 130px;
	height: 100px;
}

.dropzone {
	margin-top: 50px;
	min-height: 500px;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;
}

/*-----------------    Home    ------------------*/

.video_background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -2;
	overflow: hidden;
}

.video_background iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.photo_background {
	display: none;
}

@media (min-aspect-ratio: 16/9) {
  .video_background iframe {
    height: 200%; top: -50%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video_background iframe  {
    width: 200%; left: -50%;
  }
}

.video_background .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video_background ul {
	position: relative;
	top: 0;
	height: 60px;

}

.video_background li {
	list-style-type: none;
	color: #f5f5f5;
	float: left;
	margin: 15px 20px 20px 20px;
	font-size: 1.5em;
}

.video_background li a {
	color: rgba(100,100,100,0.9);
}

.video_background li a:hover {
	color: rgba(0, 0, 0, 1);
}

.vara_logo_home {
	width: 100%;
	height: 40%;
	position: absolute;
	top: 25%;
	background-color: rgba(200,200,200,0.5);
	color: black;
}

.vara_logo_pic {
	position: absolute;
	top: 15%;
	right: 16%;
	width: 70%;
}

/*-----------------    Video    ------------------*/

#video {
	position: relative;
	margin-top: 100vh;
	background-color: #212121;
	padding-bottom: 50px;
	border-bottom: 1px solid #f5f5f5;
}

.light_bakground {
	background-color: rgba(21,21,21, 0.8);
	padding-bottom: 50px;
}

.anchor_video {
	position: relative;
}

.exo_container_video {
	background-image: image-url("vara_video_background.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center; 
}

.big_video {
	height: 430px;
}

.video_size {
	width: 330px;
	height: 215px;
	margin-left: 20px;
	padding-bottom: 30px;
}

.two_video_padding {
	margin-left: -3%;
}

.mag_link {
	color: #f5f5f5;
}

.mag_link:hover {
	color: #505050;
}

.video_category_image {
	width: 200px;
	height: 110px;
}

.video_category_image_index {
	width: 150px;
	height: 100px;
}

.video_category_image_thumb {
	width: 100px;
	height: 50px;
}

.view {
    width: 150px;
    height: 100px;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}
.view .mask, .view .content {
    width: 150px;
    height: 100px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative;
}
.view h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-size: 15px;
    padding: 10px;
    background: rgba(0, 0, 0, 0);
    margin: 20px 0 0 0
}

.view-tenth img { 
	transform: scaleY(1);
	transition: all 0.7s ease-in-out;
}
.view-tenth .mask { 
    background-color: rgba(21, 21, 21, 0.3); 
    transition: all 0.5s linear;
    opacity: 0;
}	
.view-tenth h2{
    background: transparent;
    margin: 25px auto;
    transform: scale(0);
    color: #e5e5e5;
    transition: all 0.5s linear;
    opacity: 0;
}
.view-tenth:hover img { 
	transform: scale(10);
    opacity: 0;
}
.view-tenth:hover .mask { 
	opacity: 1;
}																			 
.view-tenth:hover h2 { 
    transform: scale(1);
    opacity: 1;
}

.lightbox {
	display: none;
}

.box_dimension {
	width: 700px;
	height: 400px;
}

.left_arrow_pic_div, .right_arrow_pic_div {
	position: absolute;
	width: 50px;
	height: 100px;
	z-index: 998;
}

.left_arrow_pic_div {
	top: 100px;
	left: 0;
}

.right_arrow_pic_div {
	top: 100px;
	right: 0;
}

/*-----------------    VideoCategories/new   ------------------*/

.table-striped>tbody>tr:nth-child(odd)>td,
tr.found{
    background-color:#505050;
}

/*-----------------    Photo    ------------------*/

#photo {
	background-color: #212121;
	padding-bottom: 50px;
}

.vara_big_pic {
	width: 100%;
}

.exo_container_photo {
	background-image: image-url("vara_photo_background.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center; 
}

.vara_small_pic {
	max-width: 215px;
	max-height: 215px;
}

.vara_small_photo_div {
	margin: 0 20px 0 20px;
}

.photo_carousel {
	margin: 0 0 100px 0;
	clear: both;
	position: relative;
	top: 50px;
}

.anchor_photo {
	position: relative;
	clear: both;
}

.left_arrow_pic_div_photo, .right_arrow_pic_div_photo {
	position: absolute;
	width: 50px;
	height: 100px;
	z-index: 500;
}

.left_arrow_pic_div_photo {
	top: 130px;
	left: 0;
}

.right_arrow_pic_div_photo {
	top: 130px;
	right: 0;
}

/*-----------------    Contact    ------------------*/

#contact {
	background-color: #212121;
	padding-bottom: 50px;
}

#contact form {
	color: #f5f5f5;
}

.transition {
	width: 100%;
	height: 300px;
	background-image: image-url("VaraContact.jpg");
	background-size: cover;
	background-attachment: fixed;
}

.mobile_transition {
	display: none;
}

.contact_mobile_pic {
	width: 100%;
}

.contact_social_icon {
	margin: 3px;
	color: white;
}

.contact_imdb_icon {
	width: 24px;
	position: relative;
	top: -8px;
	left: 1px;
}

.hidden_icon {
	display: none;
}

.imdb_icons_div:hover {
	.contact_imdb_icon {
		display: none;
	}
	.hidden_icon {
		display: inline;
	}
	
}

/*-----------------    footer    ------------------*/

footer {
	border-top: 1px solid #f5f5f5;
	background-color: #212121;
	padding-top: 20px;
	padding-bottom: 10px;
}

/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*---------------------------------------------------*/

/*-----------------    3200    -----------------*/

@media (max-width: 3200px) {
	.video_background ul {
		left: 39%;
	}
	.two_video_padding {
		margin-left: -10%;
	}
	.push_left {
		margin-left: 4%;
	}
	.video_category_image_index {
		width: 300px;
		height: 170px;
	}	
	.view {
    	width: 300px;
    	height: 170px;
  	}
	.view .mask, .view .content {
    	width: 300px;
    	height: 170px;
	}
	.view h2 {
    	font-size: 20px;
   		margin: 60px 0 0 0
	}
	.lightbox_thumb {
		max-width: 60%;
	}
	.left_arrow_pic_div_photo, .right_arrow_pic_div_photo  {
		top: 30%;
	}
}


/*-----------------    2560    -----------------*/


/*-----------------    1950    ------------------*/

@media (max-width: 1950px) {
	.video_background ul {
		left: 39%;
	}
	.two_video_padding {
		margin-left: -10%;
	}
	.push_left {
		margin-left: 4%;
	}
	.video_category_image_index {
		width: 300px;
		height: 170px;
	}	
	.view {
    	width: 300px;
    	height: 170px;
  	}
	.view .mask, .view .content {
    	width: 300px;
    	height: 170px;
	}
	.view h2 {
    	font-size: 20px;
   		margin: 60px 0 0 0
	}
	.lightbox_thumb {
		max-width: 60%;
	}
	.left_arrow_pic_div_photo, .right_arrow_pic_div_photo  {
		top: 45%;
	}
}

/*-----------------    1445    ------------------*/

@media (max-width: 1445px) {
	.video_background ul {
		left: 35%;
	}
	.two_video_padding {
		margin-left: -14%;
	}
	.lightbox_thumb {
		max-width: 80%;
	}
}

/*-----------------    1200    ------------------*/

@media (max-width: 1200px) {
	.video_background ul {
		left: 32%;
	}
	.big_video {
		height: 350px;
	}
	.video_category_image_index {
		width: 250px;
		height: 130px;
	}	
	.view {
    	width: 250px;
    	height: 130px;
  	}
	.view .mask, .view .content {
    	width: 250px;
    	height: 130px;
	}
	.view h2 {
    	font-size: 20px;
   		margin: 40px 0 0 0
	}
}

/*-----------------    1100    ------------------*/

@media (max-width: 1100px) {
	.video_background ul {
		left: 30%;
	}
}

/*-----------------    1400/Landscape    ------------------*/

@media only screen 
  and (min-device-width: 1000px) 
  and (max-device-width: 1400px)
  and (-webkit-min-device-pixel-ratio: 3) 
  and (orientation: landscape)  {
  	#nav {
		display: block;
	}
  	.video_background {
		display: none;
	}
	.photo_background {
		display: block;
		background-image: image-url("vara_home_mobile.jpg");
		background-size: cover;
		background-position: center;
	}
	#video {
		margin-top: 0px;
	}
	.exo_container_video {
		background-attachment: scroll;
	}
  }

  /*-----------------    1400/portrait    ------------------*/

@media only screen 
  and (min-device-width: 1000px) 
  and (max-device-width: 1400px)
  and (-webkit-min-device-pixel-ratio: 2) 
  and (orientation: portrait)  {
  	#nav {
		display: block;
	}
  	.video_background {
		display: none;
	}
	.photo_background {
		display: block;
		background-image: image-url("vara_home_mobile.jpg");
		background-size: cover;
		background-position: center;
	}
	.vara_logo_home {
		height: 20%;
	}
	#video {
		margin-top: 0px;
	}
	.exo_container_video {
		background-attachment: scroll;
	}
	.video_category_image_index {
		width: 120px;
		height: 80px;
	}
	.hide_in_mobile_view {
		display: none;
	}
	.mobile_transition {
		display: block;
	}
  }

/*-----------------    1050/Landscape    ------------------*/

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1050px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
  	#nav {
		display: block;
	}
  	.video_background {
		display: none;
	}
	.photo_background {
		display: block;
		background-image: image-url("vara_home_mobile.jpg");
		background-size: cover;
		background-position: center;
	}
	#video {
		margin-top: 0px;
	}
	.exo_container_video {
		background-attachment: scroll;
	}
	.video_category_image_index {
		width: 120px;
		height: 80px;
	}
	.hide_in_mobile_view {
		display: none;
	}
	.mobile_transition {
		display: block;
	}
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1050px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
  	#nav {
		display: block;
	}
  	.video_background {
		display: none;
	}
	.photo_background {
		display: block;
		background-image: image-url("vara_home_mobile.jpg");
		background-size: cover;
		background-position: center;
	}
	#video {
		margin-top: 0px;
	}
	.exo_container_video {
		background-attachment: scroll;
	}
	.video_category_image_index {
		width: 120px;
		height: 80px;
	}
	.hide_in_mobile_view {
		display: none;
	}
	.mobile_transition {
		display: block;
	}
}


/*-----------------    990    ------------------*/

@media (max-width: 990px) {
	#nav {
		display: block;
	}
	.video_background {
		display: none;
	}
	.photo_background {
		display: block;
		background-image: image-url("vara_home_mobile.jpg");
		background-size: cover;
		background-position: center center;
	}
	#video {
		margin-top:0;
	}
	.box_dimension {
		width: 500px;
		height: 300px;
	}
	.big_title {
		width: 100%;
	}
	.big_video {
		height: 400px;
		margin-bottom: 50px;
	}
	.exo_container_video {
		background-attachment: scroll;
	}
	.two_video_padding {
		margin-left: 0;
	}
	.transition {
		height: 200px;
	}
	.hide_in_mobile_view {
		display: none;
	}
	.mobile_transition {
		display: block;
	}
	.vara_logo_pic {
		position: absolute;
		top: 20%;
		right: 0%;
		width: 100%;
	}
}

/*-----------------    768    ------------------*/

@media (max-width: 768px) {
	.navbar-default .navbar-nav > .active > a, 
 		.navbar-default .navbar-nav > .active > a:hover, 
 		.navbar-default .navbar-nav > .active > a:focus {
  			margin:0;
	}
	.box_dimension {
		width: 450px;
		height: 250px;
	}
	.vara_logo_home {
		top: 35%;
		height: 30%;
	}
	 .small_mobile_logo {
	 	display: block;
	 }
}

/*-----------------    650    ------------------*/

@media (max-width: 650px) {
	
	.big_video {
		height: 320px;
	}
	.video_category_image_index {
		width: 70px;
		height: 70px;
	}
	.view {
	    width: 70px;
	    height: 70px;
	}
	.view .mask, .view .content {
	    width: 70px;
	    height: 70px;
	}
	.view h2 {
	    font-size: 9px;
	    padding: 8px;
	    margin: 20px 0 0 0
	}
	.vara_logo_pic {
		top: 25%;
	}
}

/*-----------------    415    ------------------*/

@media (max-width: 415px) {
	
	.big_video {
		height: 200px;
	}
	.box_dimension {
		width: 260px;
		height: 150px;
	}
	.video_category_image_index {
		width: 50px;
		height: 50px;
	}
	.video_size {
		margin-left: 10px;
	}
	.view {
	    width: 50px;
	    height: 50px;
	}
	.view .mask, .view .content {
	    width: 50px;
	    height: 50px;
	}
	.view h2 {
	    font-size: 8px;
	    padding: 5px;
	    margin: 15px 0 0 0
	}
	.transition {
		height: 100px;
	}
	.vara_logo_pic {
		top: 28%;
	}
}

/*-----------------    330    ------------------*/

@media (max-width: 330px) {
	.video_size {
		margin-left: 5px;
	}
}





