@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

/*-----------------    General    ------------------*/

body{
	background-color: #212121;
	color: #f5f5f5;
	font-family: "Josefin Sans";
}

form {
	color: #505050;
}

a {
	color: #f5f5f5;
}

a:hover {
	text-decoration: none;
	color: #505050;
}

.marginTop200 {
 	margin-top: 200px;
}

.marginTop {
	margin-top: 100px;
}

.marginTopMin {
	margin-top: 50px;
}

.center {
	text-align: center;
}

.flash {
	width: 40%;
	position: absolute;
	top: 10px;
	left: 5px;
}

.btn-default {
	background-color: #212121;
	color: #f5f5f5;
}

.btn-default:hover {
	background-color: #f5f5f5;
	color: #212121;
}

.titles_links {
	position: absolute;
	top:190px ;
	left: -330px ;
	white-space: nowrap;
}

.container {
	background-color: #212121;
}

.big_title {
	background: #505050;
	background: -webkit-linear-gradient(left top, #505050 , #212121); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(left top, #505050, #212121); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(left top, #505050, #212121); /* For Firefox 3.6 to 15 */
	padding-top: 10px;
	padding-left: 10px;
	height: 50px;
	width: 100%;
}

/*-----------------    Nav    ------------------*/

#nav {
	display: none;
	z-index: 3;
}

.navbar {
	background-color: rgba(250,250,250,0.5);
}


.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

/*-----------------    Admin/General    ------------------*/

.nav-tabs > li > a:hover{
  	background-color: #212121 !important;
    color:#f5f5f5;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover{
    background-color: #212121 !important;
}

/*-----------------    Admin    ------------------*/

.centered-pills { text-align:center; }
.centered-pills ul.nav-pills { display:inline-block; }
.centered-pills li { display:inline; }
.centered-pills a { float:left; }
* html .centered-pills ul.nav-pills { display:inline; } /* IE6 */
*+html .centered-pills ul.nav-pills { display:inline; } /* IE7 */

.manage_icon {
	font-size: 10em;
}

.admin_header {
	position: fixed;
	width: 100%;
	height: 70px;
}

.admin_header_button {
	float: left;
}

/*-----------------    Admin/Video    ------------------*/

.mini_thumb_div iframe {
	width: 100px;
	height: 70px;
}

.inline {
	margin: 20px;
	display: inline;
}

/*-----------------    Admin/Photo    ------------------*/

.mini_thumb_div {
	margin-top: 30px;
}

.mini_thumb {
	width: 100px;
	height: 70px;
}

.dropzone {
	margin-top: 50px;
	height: 500px;
	border-radius: 10px;
}

/*-----------------    Home    ------------------*/

.video_background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -2;
	overflow: hidden;
}

.video_background iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.photo_background {
	display: none;
}

@media (min-aspect-ratio: 16/9) {
  .video_background iframe {
    height: 200%; top: -50%;
    /* or height: 200%; top: -50%;
       or height: 400%; top: -150%; */
  }
}
@media (max-aspect-ratio: 16/9) {
  .video_background iframe  {
    width: 200%; left: -50%;
    /* or width: 200%; left: -50%;
       or width: 400%; left: -150%; */
  }
}

.video_background .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video_background ul {
	position: relative;
	top: 20px;
}

.video_background li {
	list-style-type: none;
	color: #f5f5f5;
	float: left;
	margin: 20px;
	font-size: 1.5em;
}

.vara_logo_home {
	width: 500px;
	height: 500px;
	border-radius: 50%;
	position: relative;
	top: 20%;
	background-color: rgba(200,200,200,0.5);
	color: black;
}

.vara_logo_title {
	position: relative;
	top: 40px;
}

/*.vara_logo_home {
	width: 100%;
	height: 300px;
	position: absolute;
	top: 33%;
	background-color: rgba(200,200,200,0.5);
	color: black;
}

.vara_logo_title {
	position: relative;
	top: 30px;
} */

.vara_logo_title h1 {
	font-size: 8em;
} 

/*-----------------    Video    ------------------*/

#video {
	margin-top: 100vh;
}

.testy {
	background-color: rgba(21,21,21, 0.5);
}

.exo_container_video {
	background-image: image-url("testy.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center; 
}

.big_video {
	height: 410px;
	border: 5px solid #212121;
}

.anchor_video {
	position: relative;
	top: 50px;
	clear: both;
}

.video_size {
	width: 330px;
	height: 215px;
	margin-left: 20px;
	padding-bottom: 30px;
}

.left_arrow_pic_div, .right_arrow_pic_div {
	position: absolute;
	width: 50px;
	height: 100px;
	z-index: 999;
}

.arrow_pic_div {
	display: none;
}

.arrow_pic_div:hover {
	background-color: rgba(250,250,250,0.5);
}

.left_arrow_pic_div {
	top: 90px;
	left: 0;
}

.right_arrow_pic_div {
	top: 90px;
	right: 0;
}

.arrow_pic {
	height: 100%;
}

.two_video_padding {
	margin-left: -3%;
}

.video_bottom_border {
	padding-top: 20px;
	border-bottom: 1px solid #f5f5f5;
}

.mag_link {
	color: #505050;
}

.mag_link:hover {
	color: #f5f5f5;
}

.video_category_image {
	width: 200px;
	height: 110px;
}

.video_category_image_index {
	width: 150px;
	height: 100px;
}

.video_category_image_thumb {
	width: 100px;
	height: 50px;
}

.view {
    width: 150px;
    height: 100px;
    
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}
.view .mask, .view .content {
    width: 150px;
    height: 100px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative;
}
.view h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-size: 15px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}

.view-tenth img { 
	transform: scaleY(1);
	transition: all 0.7s ease-in-out;
}
.view-tenth .mask { 
    background-color: rgba(21, 21, 21, 0.3); 
    transition: all 0.5s linear;
    opacity: 0;
}	
.view-tenth h2{
    background: transparent;
    margin: 25px auto;
    transform: scale(0);
    color: #f5f5f5;
    transition: all 0.5s linear;
    opacity: 0;
}
.view-tenth:hover img { 
	transform: scale(10);
    opacity: 0;
}
.view-tenth:hover .mask { 
	opacity: 1;
}																			 
.view-tenth:hover h2 { 
    transform: scale(1);
    opacity: 1;
}


/*-----------------    VideoCategories/new   ------------------*/

.table-striped>tbody>tr:nth-child(odd)>td,
tr.found{
    background-color:#505050;
}

/*-----------------    Photo    ------------------*/

.vara_big_pic {
	width: 100%;
}

.exo_container_photo {
	background-image: image-url("testy2.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center; 
}

.vara_small_pic {
	width: 90%;
	
}

.vara_small_photo_div {
	margin: 0 10px 0 10px;
}

.photo_carousel {
	margin: 0 0 100px 0;
	clear: both;
	position: relative;
	top: 50px;
}

.anchor_photo {
	position: relative;
	clear: both;
}

.left_arrow_pic_div_photo, .right_arrow_pic_div_photo {
	position: absolute;
	width: 50px;
	height: 100px;
	z-index: 500;
}

.left_arrow_pic_div_photo {
	top: 100px;
	left: 0;
}

.right_arrow_pic_div_photo {
	top: 100px;
	right: 0;
}

/*-----------------    Contact    ------------------*/

#contact form {
	color: #f5f5f5;
}

.transition {
	width: 100%;
	height: 300px;
	background-image: image-url("testback.png");
	background-size: contain;
	background-attachment: fixed;
	background-position: center;
}


/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*---------------------------------------------------*/


/*-----------------    1920    ------------------*/

@media (max-width: 1920px) {
	.vara_logo_home {
		left: 37%;
	}
	.video_background ul {
		left: 39%;
	}
	.two_video_padding {
		margin-left: -10%;
	}
}

/*-----------------    1445    ------------------*/

@media (max-width: 1445px) {
	.vara_logo_home {
		left: 33%;
	}
	.video_background ul {
		left: 35%;
	}
	.two_video_padding {
		margin-left: -14%;
	}
}

/*-----------------    990    ------------------*/

@media (max-width: 990px) {
	#nav {
		display: block;
	}
	.video_background {
		display: none;
	}
	.photo_background {
		display: block;
		background-image: image-url("testtest.JPG");
		background-size: cover;
		background-position: center;
	}
	#video {
		margin-top: 0px;
	}
	.exo_container_video {
		background-attachment: scroll;
	}
	.vara_logo_home {
		width: 400px;
		height: 400px;
		position: absolute;
		top: 25%;
		left:30%;
	}
	.vara_logo_title {
		font-size: 0.8em;
	}
	.video_category_image_index {
		width: 100px;
		height: 100px;
		border-radius: 100%;
	}
	.col-xs-2 {
		margin-left: 10px;
	}
	.view {
	    width: 100px;
	    height: 100px;
	    border-radius: 50%;
	    margin-bottom: 50px;
	}
	.view .mask, .view .content {
	    width: 100px;
	    height: 100px;
	    border-radius: 50%;
	}
	.view h2 {
	    font-size: 10px;
	    padding: 12px;
	    margin: 27px 0 0 0
	}
	.two_video_padding {
		margin-left: 0;
	}
	.transition {
		height: 200px;
	}
}

/*-----------------    768    ------------------*/

@media (max-width: 768px) {
	.vara_logo_home {
		width: 350px;
		height: 350px;
	}
	.vara_logo_title {
		font-size: 0.7em;
	}
}


/*-----------------    650    ------------------*/

@media (max-width: 650px) {
	.vara_logo_home {
		width: 300px;
		height: 300px;
		left:25%;
	}
	.vara_logo_title {
		font-size: 0.5em;
	}
	.big_video {
		height: 320px;
		border: 2px solid #212121;
	}
	.video_category_image_index {
		width: 70px;
		height: 70px;
	}
	.view {
	    width: 70px;
	    height: 70px;
	}
	.view .mask, .view .content {
	    width: 70px;
	    height: 70px;
	}
	.view h2 {
	    font-size: 9px;
	    padding: 8px;
	    margin: 20px 0 0 0
	}	
}

/*-----------------    400    ------------------*/

@media (max-width: 400px) {
	.vara_logo_home {
		left:10%;
	}
	.big_video {
		height: 200px;
		border: 2px solid #212121;
	}
	.video_category_image_index {
		width: 50px;
		height: 50px;
	}
	.view {
	    width: 50px;
	    height: 50px;
	}
	.view .mask, .view .content {
	    width: 50px;
	    height: 50px;
	}
	.view h2 {
	    font-size: 8px;
	    padding: 5px;
	    margin: 15px 0 0 0
	}
	.transition {
		height: 100px;
	}
}

/*-----------------    330    ------------------*/

@media (max-width: 330px) {
	.vara_logo_home {
		left:5%;
	}
	.big_video {
		height: 100px;
		border: 1px solid #212121;
	}
	.video_category_image_index {
		width: 50px;
		height: 50px;
	}
	.view {
	    width: 50px;
	    height: 50px;
	}
	.view .mask, .view .content {
	    width: 50px;
	    height: 50px;
	}
	.view h2 {
	    font-size: 8px;
	    padding: 5px;
	    margin: 15px 0 0 0
	}
	.transition {
		height: 100px;
	}
}

